@model IEnumerable<ExpenseTracker.Application.ViewModels.Wallet.WalletViewModel>

@{
    ViewData["PageTitle"] = "Wallets";
    ViewData["PageActionUrl"] = "/wallets/create";
}

<div class="row">
    <div class="col-md-9">
        <form method="get" class="mb">
            <div class="form-container d-flex justify-content-between">
                <div class="d-flex gap-3">
                    <ejs-textbox id="search-box"
                                 name="search"
                                 placeholder="Search wallets..."
                                 floatLabelType="Never"
                                 width="300px"
                                 input="onSearchChange"
                                 value="@ViewBag.Search">
                    </ejs-textbox>
                </div>
                <a class="btn btn-success" asp-action="Create"> + Wallet</a>
            </div>
        </form>
    </div>
</div>
    
<div class="row mt-4">
    <div class="col-md-9">
        <ejs-grid id="wallets-list" dataSource="@Model" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="8"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Id" field="" width="50px" template="#navigationColumnTemplate"></e-grid-column>
                <e-grid-column headerText="Wallet" field="Name" width="150px"></e-grid-column>
                <e-grid-column headerText="Balance" field="Balance" textAlign="Right" format="C2" width="150px"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="100px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-3">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(IsMain)}
        <span class="badge bg-success">Main</span>
    ${else}
        <span class="badge bg-secondary">Secondary</span>
    ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/wallets/edit/${Id}" data-toggle="tooltip" title="Edit wallet">
            <i class="fa-solid fa-pen fa-lg text-warning"></i>
        </a>
        <a class="btn btn-sm no-a-decoration" href="/wallets/delete/${Id}" data-toggle="tooltip" title="Delete wallet">
            <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
        </a>
        <a class="btn btn-sm no-a-decoration" href="/wallets/share/${Id}" data-toggle="tooltip" title="Share with others">
            <i class="fa-solid fa-share fa-lg"></i>
        </a>
    </div>
</script>

<script id="navigationColumnTemplate" type="text/x-template">
     <div>
        <a rel="nofollow" href="wallets/details/${Id}">${Id}</a>
    </div>
</script>

<script>
    function onSearchChange(args) {
        if (!args) {
            return;
        }

        const search = args.value;

        $.ajax({
            type: 'GET',
            url: `/getWallets?search=${search}`,
            contentType: 'json',
            success: function (data) {
                const grid = document.getElementById("wallets-list").ej2_instances[0];
                grid.dataSource = data;
                grid.refresh();
            }   
        });
    }
</script>