@model ExpenseTracker.Application.Requests.Auth.ResetPasswordRequest;

@{
    ViewData["PageTitle"] = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="widget p-5" style="background-color:#212b36">
            <h2 class="text-center mb-5">Reset Password</h2>
            <form asp-action="PasswordReset" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <ejs-textbox id="email" ejs-for="Email" value="@ViewBag.Email" allowObjectBinding="true" type="hidden"></ejs-textbox>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="token" ejs-for="Token" value="@ViewBag.Token" allowObjectBinding="true" type="hidden"></ejs-textbox>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="password" placeholder="New Password" ejs-for="Password" floatLabelType="Always" type="password"></ejs-textbox>
                    <span asp-validation-for="Password" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="password-confirm" placeholder="Confirm Password" ejs-for="PasswordConfirm" floatLabelType="Always" type="password"></ejs-textbox>
                    <span asp-validation-for="PasswordConfirm" class="text-danger fs-6"></span>
                </div>
                <div class="d-grid gap-2">
                    <ejs-button id="submit" type="submit" content="Reset" cssClass="e-success"></ejs-button>
                </div>
            </form>
        </div>
    </div>
</div>