@model IEnumerable<ExpenseTracker.Application.ViewModels.Category.CategoryViewModel>

@{
    ViewData["PageTitle"] = "Categories";
    ViewData["PageActionUrl"] = "/categories/create";
}

<div class="row">
    <div class="col-md-7">
        <form method="get" class="mb">
            <div class="form-container d-flex justify-content-between">
                <div class="d-flex gap-3">
                    <ejs-textbox id="search-box"
                                 name="search"
                                 placeholder="Search categories"
                                 floatLabelType="Never"
                                 width="300px"
                                 input="onSearchChange"
                                 value="@ViewBag.Search">
                    </ejs-textbox>
                </div>
                <a class="btn btn-success" asp-action="Create"> + Category</a>
            </div>
        </form>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-7" >
        <ejs-grid id="categories"  dataSource="@Model"  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="8"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Id" field="" width="50px" template="#navigationColumnTemplate"></e-grid-column>
                <e-grid-column headerText="Category" field="Name" width="150px"></e-grid-column>
                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="150px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(Type == 0)}
        <span class="badge bg-success">Income</span>
    ${else}
        <span class="badge bg-danger">Expense</span>
    ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/categories/edit/${Id}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a class="btn btn-sm no-a-decoration" href="/categories/delete/${Id}">
            <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
        </a>
    </div>
</script>

<script id="navigationColumnTemplate" type="text/x-template">
     <div>
        <a rel="nofollow" href="categories/details/${Id}">${Id}</a>
    </div>
</script>

<script>
    function onSearchChange(args) {
        if (!args) {
            return;
        }
        
        const search = args.value;

        $.ajax({
            type: 'GET',
            url: `/getCategories?search=${search}`,
            contentType: 'json',
            success: function (data) {
                const grid = document.getElementById("categories").ej2_instances[0];
                grid.dataSource = data;
                grid.refresh();
            }
        });
    }   
</script>