<!-- Delete Category Modal -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCategoryModalLabel">Delete Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this category?</p>
                <p><strong>Name:</strong> <span id="deleteCategoryName"></span></p>
                <p><strong>Description:</strong> <span id="deleteCategoryDescription"></span></p>
                <input type="hidden" id="deleteCategoryId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="submitBtn" onclick="confirmDeleteCategory()">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    // Function to handle opening the delete modal
    function openDeleteModal(id) {

        $.ajax({
            type: 'GET',
            url: `/categories/details/${id}`,
            success: function (data) {
                console.log(data)

                $('#deleteCategoryName').text(data.Name);
                $('#deleteCategoryDescription').text(data.Description);
                $('#deleteCategoryId').val(data.Id);

                $('#deleteCategoryModal').modal('show');
            },
            error: function (error) {
                console.log('Error fetching category details:', error);
            }
        });
    }
    // Handle delete form submission
    function confirmDeleteCategory() {
        var categoryId = $('#deleteCategoryId').val();
        var token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            type: 'DELETE',
            url: `/categories/delete/${categoryId}`,
            headers: {
                'RequestVerificationToken': token
            },
            success: function (response) {

                $('#deleteCategoryModal').modal('hide');
                loadCategories();

            },
            error: function (error) {
                console.log('Error deleting category:', error);
                alert("Error deleting category");
            }
        });
    }
</script>

